
.header{
     width: 100%;
     height: 50px;
}
.logo{
	width: 50px;
    height: 40px;
    float: left;
    padding-right: 320px;
    padding-top: 4px;
    padding-left: 155px;
}
img{
	width: 100%;
	
}
.search{
	padding-top: 4px;
	position: relative;
}
.search input{
	width: 220px;
	height: 30px;
	float: left;
}
.fa-search-minus{
	color: white;
	padding: 6px 0px 0px 13px;
}
.true{
	position: absolute;
	height: 30px;
	width: 45px;
	background-color: black;
	right: 385px;
    border-radius: 5px;
}
.shopping_cart{
	width: 150px;
    height: 38px;
    float: left;
    margin-left: 85px;

}
.cart{
	width: 35px;
    height: 30px;
    background-color: #5ab210;
    float: left;
    margin-top: 3px;
    border-radius: 5px;
    color: white;
    position: relative;

}
.o{
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: red;
    border-radius: 25px;
    top: -8px;
    right: -12px;
    border: 1px solid #5ab210;
}
.text{
	float: left;
	margin: -28px 0px 0px 45px;

}

body{
	font-family: sans-serif;
	width: 100%;
	margin: 0;
}
.wraper{
	width: 1170px;
	margin: auto;
}
.catagori{
	background-color: black;
	width: 100%;
	height: 45px;
	float: right;
}
.catagories{
	width: 12%;
    margin-left: 150px;
    height: 100%;
}
.catagories:hover{
	background-color: #5e5e5e;
	border-bottom:2px solid;
	border-color: #5ab210;
}
.fa-bars{
	color: white;
	margin-top: 17px;
    margin-left: 10px;
}
.menu{
	float: right;
	margin-top: -45px;
	margin-right: 25px;
}
.menu ul{
	list-style: none;
}
.menu li{
	display: inline-block;

}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 16px 15px 12px 10px;
}
.menu li a:hover{
	background-color: #5e5e5e;
}
.hero{
	background-image: url("../img/01_HOME.jpg");
	width: 100%;
    height: 371px;
     background-repeat:no-repeat;
     color: white;
    font-style: oblique;
}
.hero button{
	margin-left: 305px;
    margin-top: 20px;
    color: white;
    background-color: #margin-left: 305px;
    margin-top: 20px;
    color: white;
    background-color: #5ab210;
}
.watch{
	width: 100%;
    height: 250px;
}
.watch-1{
	width: 41%;
    height: 140px;
    background-image: url("../img/01_HOME-Recovered.jpg");
    margin-top: 30px;
    color: white;
    float: left;
    margin-left: 65px;
    padding: 15px 0px;
    margin-right: 32px;
    margin-bottom: 50px;
}
.watch-1 img{
	width: 140px;
    float: right;
}
.popular-prodact{
	width: 100%;
    height: 440px;
}
.p-image{
	width: 172px;
	height:380px;
	float: left;
	margin-left: 65px;
    margin-right: 55px;
    transition: all 0.5s ease;
    position: relative;
}
.p-image:hover{
	transform: scale(1.05);
	
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
}
.p-image img{
	width: 75%;
	margin: 15px 0px 0px 20px;
}
.p-image p{
	margin-left: 55px;
	color: #5ab210;
}
.sale{
	position: absolute;
	width: 36px;
	height: 36px;
	background-color: #5ab210;
    border-radius: 25px;
    padding: 6px 0px 0px 6px;
    color: white;
    top: -10px;
    left: -10px;
    line-height: 28px;
}
.fa-cart-plus{
     border-radius: 5px;
    background-color: #5ab210;
    width: 23px;
    height: 23px;
    padding: 5px 0px 0px 5px;
    color: white;
    margin-left: 16px;
    display: none;
}
.fa-gratipay{
	 border-radius: 5px;
    background-color: #5ab210;
    width: 23px;
    height: 23px;
    padding: 5px 0px 0px 7px;
    color: white;
    margin-left: 16px;
    display: none;
}
.fa-recycle{
	 border-radius: 5px;
    background-color: #5ab210;
    width: 23px;
    height: 23px;
    padding: 5px 0px 0px 5px;
    color: white;
    margin-left: 16px;
    display: none;
}
.icon{
	display: none;
}
.p-image:hover .icon{
	display: block;
}
.contain{
	width: 100%;
    height: 150px;
    background-color: #ececec;
}
.value{
	width: 24%;
    height: 100%;
    float: left;
}
.american{
	width: 45px;
    height: 45px;
    border: 1px solid #5ab210;
    border-radius: 5px;
    float: left;
    margin-top: 55px;
    margin-left: 65px;
    margin-right: 20px;
}
.fa-american-sign-language-interpreting{
	color: #5ab210;
    margin: 12px 0px 0px 10px;
}
.american-text{
	padding-top: 32px;
	
}
.american-text p{
	margin-top: -17px;
    font-size: 11px;
}
.fa-car{
	color: #5ab210;
    margin: 12px 0px 0px 10px;
}
.fa-shield{
	color: #5ab210;
    margin: 12px 0px 0px 10px;
}
.fa-life-ring{
	color: #5ab210;
    margin: 12px 0px 0px 10px;
}
.backgruoand{
	width: 100%;
	height: 197px;
	background-image: url(../img/01_HOME13.jpg);
	position: relative;
}
.backgruoand:before{
	content: "";
	position: absolute;
	background-color:rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;


}
.backgruoand img{
	width: 90px;
    height: auto;
    float: left;
    padding: 70px 0px 0px 82px;
    position: relative;
    z-index: 22222;
}
.gear-watch-2{
	width: 100%;
	height: 415px;
}
.best{
	width: 27%;
    height: 100%;
    float: left;
    margin-top: 30px;
    margin-left: 65px;
}
.best-watch{
	width: 70%;
    height: 22%;
    background-color: #fafafa;
    border:1px solid #d9d9d9;
    margin-top: 40px;
}
.watch-2{
    float: left;
    margin: 5px 0px 0px 20px;
}
.watch-text-2{
	float: left;
    width: 40%;
    height: 54%;
    margin-left: 20px;
}
.watch-text-2 img{
	width: 50%;
    height: 25%;
}
.watch-text-2 p{
	 margin-top: 0px;
	 font-size: 11px;
     color: #5ab210;
}
.watch-text-2 h5{
	 margin-bottom: 0px;
	 font-size: 12px;
}