
.header{
     width: 100%;
     height: 50px;
     background-color: red;
}
.logo{
	width: 50px;
    height: 40px;
    float: left;
    padding-right: 525px;
    padding-top: 4px;
    padding-left: 15px;
}
img{
	width: 100%;
	
}
.search{
	padding-top: 4px;
}
.search input{
	width: 220px;
	height: 30px;
	float: left;
}
.shopping_cart{
	width: 120px;
    height: 38px;
    float: left;

}
.cart{
	width: 35px;
    height: 25px;
    background-color: #5ab210;
    float: left;

}
.text{
	float: left;

}

body{
	font-family: 'Vibur', cursive;
	width: 100%;
	margin: 0;
}
.wraper{
	width: 1170px;
	margin: auto;
}
.catagori{
	background-color: black;
	width: 100%;
	height: 45px;
	float: right;
}
.menu{
	float: right;
}
.menu ul{
	list-style: none;
}
.menu li{
	display: inline-block;

}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 0px 15px 0px 10px;
}
.hero{
	background-image: url("../img/01_HOME.jpg");
	width: 100%;
    height: 371px;
     background-repeat:no-repeat;
     color: white;
    font-style: oblique;
}
.hero button{
	margin-left: 305px;
    margin-top: 20px;
    color: white;
    background-color: #margin-left: 305px;
    margin-top: 20px;
    color: white;
    background-color: #5ab210;
}
.watch-1{
	width: 41%;
    height: 140px;
    background-image: url("../img/01_HOME-Recovered.jpg");
    margin-top: 30px;
    color: white;
    float: left;
    margin-left: 65px;
    padding: 15px 0px;
    margin-right: 32px;
    margin-bottom: 50px;
}
.watch-1 img{
	width: 140px;
    float: right;
}
.popular-prodact{
	width: 100%;
    height: 210px;
}
.p-image{
	width: 170px;
	height:276px;
	float: left;
	margin-left: 65px;
    margin-right: 55px;
    transition: all 0.5s ease;
}
.p-image:hover{
	transform: scale(1.05);
	box-shadow: 0px 0px 30px 4px #121312;
}
.p-image img{
	width: 75%;
	margin: 15px 0px 0px 20px;
}